#body {
background: radial-gradient(rgb(255, 255, 255) 40%, rgb(158, 235, 255));
}

#container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 300px;
}

#toolbar {
color: white;
}

.toolbarIcons {
float: right;
margin-right: 80px;
}

#content {
  padding-left: 20px;
  padding-right: -20px;
}

#appTitle {
width: 300px;
float: left;
text-align: center;
font-size: 50px;
}

#profileName {
margin-left: 10px;
width: 400px;
}
.md-fab {
float: right;
background-color: darkblue;
}

#profileBox {
height: 100px;
}

.hr {
border: none;
height: 1px;
background: black;
}

#searchBtn {
display: block;
width: 50px;
}

#deleteBtn {
width: 50px;
float: right;
}

#favoriteBtn {
width: 50px;
color: red;
}

#favFilter {
color: white;
}

#allFilter {

float: right;
}

#guestBtn {
margin-left: 25%;
}

input.form-control {
width: 300px;;
float: right;
}

#datePicker {
float: right;
}

.ng-scope {
height: 100%;
}

.btn {
width: 50%;
margin-left: 25%;
}

#menuBtn {
float: left;
}

.md-raised {
width: 100px;
}

#title {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 60px;
}

#subTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 35px;
}

.cards {
width: 400px;
background-color: rgba(213, 213, 213, 0.8);
margin-left: 10px;
}

.md-sidenav-left {
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
}

.material-icons.md-40 {
font-size: 36px;
margin-top: 10px;
}
